.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto 0;
}

.buttonsContainer {
  display: flex;
}

.addButton {
  background-color: var(--forSelect);
  box-shadow: var(--box-shadow);
  color: var(--colorText);
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  margin-left: 5px;
  align-self: flex-start;
}

.addButton:hover {
  transform: translateY(-5px);
}

.searchSortRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.sortWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.protocoreList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
}

.emptyState {
  color: var(--colorTextDark);
}

.protocoreContainer {
  display: flex;
  align-items: stretch;
  position: relative;
}

.checkbox {
  position: absolute;
  bottom: 7px;
  left: 10px;
  z-index: 10;
  width: 25px;
  height: 25px;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;

  background-color: var(--forSelect);
  transition: 0.3s;
}

.checkbox:hover {
  border-color: var(--colorText);
  background-color: var(--colorText);
}

.checkbox:checked {
  background-color: var(--a-hover);
  border-color: var(--colorText);
}

.checkbox:checked::after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: TikTok Sans, monospace;
}

@media (max-width: 666px) {
  .buttonsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .addButton {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .protocoreList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 0;
  }
}

@media (min-width: 551px) and (max-width: 1080px) {
  .protocoreList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
