.tablePairBonusContainer {
    margin-top: 5px;
    padding: 5px;
    background-color: var(--bg-glass-dark);
    box-shadow: var(--box-shadow);
}

.statsTablePairBonus {
    border-collapse: collapse;
    width: 100%;
}

.statsTablePairBonus th,
.statsTablePairBonus td {
    border: 1px solid var(--border-color, #333);
    padding: 8px 12px;
    text-align: center;
}

.statsTablePairBonus th {
    color: var(--colorTextDark);
    text-transform: uppercase;
}

.titleTD,
.titleTDMain {
    white-space: nowrap;
}

.titleTDMain {
    color: var(--a) !important;
}

@media screen and (max-width: 500px) {
    .titleTD {
        white-space: wrap;
    }

    .statsTablePairBonus td {
        padding: 5px 2px;
    }
}