.kitCombatTableContainer {
    padding: 5px;
    background-color: var(--bg-glass-dark);
    box-shadow: var(--box-shadow);
}

.statsTable {
    border-collapse: collapse;
    width: 100%;
}

.statsTable {
    white-space: pre-wrap;
}

.statsTable th,
.statsTable td {
    border: 1px solid var(--border-color, #333);
    padding: 8px 12px;
    text-align: center;
}

.statsTable th {
    color: var(--colorTextDark);
    text-transform: uppercase;
}

.titleSkill {
    background: none !important;
    border: none !important;
    color: var(--a) !important;
}

.statsTable tr {
    cursor: pointer;
    transition: background 0.15s;
}

.statsTable thead tr:hover:first-child {
    background: none !important;
}

.statsTable tr:hover {
    background: rgb(165 165 165 / 0.2);
}

@media screen and (max-width: 500px) {

    .statsTable td,
    .statsTable th {
        white-space: wrap;
    }

    .statsTable th,
    .statsTable td {
        padding: 5px 2px;
    }
}