.container {
  margin-top: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family:
    TikTok Sans,
    monospace;
  background-color: var(--bg-glass);
  box-shadow: var(--box-shadow);
  padding: 5px;
}

.availableButtonContainer {
  display: flex;
  gap: 5px;
  margin: 10px 0 0 0;
}

.selectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 5px 5px 20px 5px;
}

.addGoalButton,
.buttonAvailable,
.goalButton {
  text-decoration: none;
  border: none;
  font-family: inherit;
}

.buttonAvailable {
  width: 80px;
  height: 35px;
  background: none;
  color: var(--colorTextDark);
}

.goalButton {
  width: 35px;
  height: 35px;
  background: none;
  transition: 0.3s;
}

.addGoalButton {
  padding: 10px;
}

.buttonAvailable.active,
.goalButton,
.addGoalButton {
  background-color: var(--forSelect);
  box-shadow: var(--box-shadow);
  color: var(--colorText);
  transition: 0.3s;
}

.goalButton:hover {
  background-color: var(--a-hover);
}

.addGoalButton:hover {
  background-color: var(--a-hover);
}

.addGoalButton:disabled {
  background: #b3b3b3;
  color: #f0f0f0;
  cursor: not-allowed;
  opacity: 0.7;
}

.statsTable {
  border-collapse: collapse;
  width: 100%;
  margin: 5px 0;
}

.statsTable th,
.statsTable td {
  border: 1px solid var(--border-table);
  padding: 8px 12px;
  text-align: center;
}

.statsTable th {
  background-color: var(--forSelect);
  color: var(--colorText);
}

.stat {
  display: flex;
  flex-direction: column;
}

.selectRankContainer {
  width: 120px;
}

.selectRankContainer [class$="-control"] {
  background-color: var(--forSelect);
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.selectRankContainer [class$="-control"]:hover {
  border-color: var(--colorText);
}

.selectRankContainer [class$="-placeholder"] {
  color: var(--colorTextGrayNote);
  font-size: 12px;
}

.selectRankContainer [class$="-menu"] {
  background-color: var(--forSelect);
  border: none;
  border-radius: 0;
  margin: 1px;
}

.selectRankContainer [class$="-option"] {
  background-color: var(--forSelect);
  color: var(--colorText);
  padding: 10px 16px;
  cursor: pointer;
}

.selectRankContainer [class$="-option"]:hover {
  background-color: var(--a-hover);
  color: var(--colorText);
  padding: 10px 16px;
  cursor: pointer;
}

.selectRankContainer [class$="-singleValue"] {
  color: var(--colorText);
}

@media screen and (max-width: 860px) {
  .container {
    padding: 5px;
  }

  .statsTable {
    font-size: 12px;
  }

  .selectRankContainer [class$="-indicatorContainer"] {
    padding: 1px;
  }
}

@media screen and (max-width: 440px) {
  .statsTable th,
  .statsTable td {
    padding: 5px 2px;
  }
}
