.container {
    margin-top: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: TikTok Sans, monospace;
    background-color: var(--bg-glass);
    box-shadow: var(--box-shadow);
    padding: 5px;
}

.availableButtonContainer {
    display: flex;
    gap: 5px;
    margin: 10px 0 0 0;
}

.ascendButton {
    border: none;
    text-decoration: none;
    font-family: inherit;
    background-color: var(--forSelect);
    width: 80px;
    height: 30px;
    color: var(--colorText);
}

.selectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 5px 5px 20px 5px;
}

.rangeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonAvailable {
    width: 80px;
    height: 35px;
    border: none;
    text-decoration: none;
    font-family: inherit;
    background: none;
    color: var(--colorTextDark);
}

.buttonAvailable.active {
    background-color: var(--forSelect);
    box-shadow: var(--box-shadow);
    color: var(--colorText);
}

.track {
    height: 6px;
    width: 100%;
    background: var(--colorTextBright);
    cursor: pointer;
}

.point {
    height: 20px;
    width: 20px;
    background: var(--forSelect);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px 0 rgba(34, 60, 80, 0.6);
    cursor: pointer;
}

.trackFilled {
    position: absolute;
    height: 100%;
    background: var(--forSelect);
    left: 0;
    top: 0;
    pointer-events: none;
}

.rangeContainer {
    width: 100%;
}

.levelContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.levelInput {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    width: 50px;
    background: none;
    border: none;
}

.levelInput::-webkit-outer-spin-button,
.levelInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.statsTable {
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
}

.statsTable th,
.statsTable td {
    border: 1px solid var(--border-table);
    padding: 8px 12px;
    text-align: center;
}

.statsTable th {
    background-color: var(--forSelect);
    color: var(--colorText);
}


.stat {
    display: flex;
    flex-direction: column;
}

.selectRankContainer {
    width: 150px;
}

.selectRankContainer [class$="-control"] {
    background-color: var(--forSelect);
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.selectRankContainer [class$="-control"]:hover {
    border-color: var(--colorText);
}

.selectRankContainer [class$="-placeholder"] {
    color: var(--colorTextGrayNote);
    font-size: 12px;
}

.selectRankContainer [class$="-menu"] {
    background-color: var(--forSelect);
    border: none;
    border-radius: 0;
    margin: 1px;
}

.selectRankContainer [class$="-option"] {
    background-color: var(--forSelect);
    color: var(--colorText);
    padding: 10px 16px;
    cursor: pointer;
}

.selectRankContainer [class$="-option"]:hover {
    background-color: var(--a-hover);
    color: var(--colorText);
    padding: 10px 16px;
    cursor: pointer;
}

.selectRankContainer [class$="-singleValue"] {
    color: var(--colorText);
}

@media screen and (max-width: 860px) {

    .container {
        padding: 5px;
    }

    .statsTable {
        font-size: 12px;
    }

    .selectRankContainer [class$="-indicatorContainer"] {
        padding: 1px;
    }

}

@media screen and (max-width: 440px) {
    .statsTable th,
    .statsTable td {
        padding: 5px 2px;
    }
}