.img {
    width: 250px;
    height: 170px;

    object-fit: cover;
    object-position: top center;

    background: var(--bg-brown-light);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    margin-top: 20px;
}

.link {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.title {
    margin-top: 10px;
    text-align: center;
    word-break: break-word;
    white-space: normal;
    color: var(--brown);
}

@media screen and (max-width: 800px) {
    .img {
        width: 150px;
        height: 170px;
    }

    .link {
        width: 150px;
        font-size: 16px;
    }
}

@media screen and (max-width: 470px) {
    .img {
        width: 100px;
        height: 140px;
    }

    .link {
        width: 100px;
        font-size: 14px;
    }
}