.collapse :global(.ant-collapse-header) {
    align-items: center !important;
}

.collapse :global(.ant-collapse-header) {
    color: var(--brown) !important;
    font-size: 20px !important;
    font-weight: bold !important;

}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--brown);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    height: 150px;
    width: 100%;
    padding: 5px;
}

.imgCompanion {
    width: 30%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 10%;

    -webkit-mask-image: -webkit-linear-gradient(180deg, transparent 0%, black 40%, black 80%, transparent 100%);
    mask-image: linear-gradient(180deg, transparent 0%, black 40%, black 80%, transparent 100%);
}

.collapse :global(a:hover) {
    color: var(--orange) !important;
    background-color: var(--bg-brown-black);

}

.title {
    margin: 10px;
}
