.containerCalculator {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 5px;
}

.tabContent {
    display: flex;
}

.tabButton {
    padding: 8px 16px;
    background: none;
    border: none;
    color: var(--colorTextDark);
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
}

.tabButton:hover {
    color: var(--a);
}

.tabButton.active {
    background: var(--forSelect);
    color: var(--colorText);
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 1020px) {

    .tabs {
        display: flex;
        justify-content: center;
    }

    .tabButton {
        padding: 8px 8px;
    }
}