.nav {
    display: flex;
    margin: 10px 5px;
}

.card {
    height: 100%;
    display: flex;
    justify-content: space-between;

    margin: 5px;
    padding: 5px;
}

.img {
    width: 100%;
    object-fit: cover;
    object-position: center 20%;

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.imgContainer {
    height: 100%;
    width: 50%;
}

.span {
    margin: 0 4px;
}

.link {
    text-decoration: none;
    color: var(--colorTextDark);
}