.nav {
    display: flex;
    margin: 10px 5px;
}

.card {
    height: 100%;
    display: flex;


    margin: 5px;
    padding: 5px;
}

.img {
    width: 60%;
    object-fit: cover;
    object-position: center 20%;

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.imgContainer {
    height: 100%;
    width: 50%;
}

.span {
    margin: 0 4px;
}

.link {
    text-decoration: none;
    color: var(--colorTextDark);
}

.cardTitle {
    margin-bottom: 10px;
}

.parametrsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--forSelect);
    color: var(--colorText);
    gap: 10px;
    height: 50px;
    width: 100%;
    padding: 5px;
}

.generalContainer {
    display: flex;
    align-items: center;
}

.generalContainer > span {
    margin-right: 5px;
}

.borderVertical {
    border-right: 2px solid var(--colorText);
    height: 100%;
    margin: 0;
}