.nav {
    margin: 10px 5px;
    color: var(--colorTextDark);
}

.link {
    text-decoration: none;
    color: var(--colorTextDark);
}

.titleMain {
    font-size: 20px;
    border-bottom: 2px solid var(--border);
    padding-bottom: 5px;
}

.titleAndDisclaimer {
    display: flex;
    justify-content: flex-end;
}

.disclaimerContent {
    text-align: center;
    color: var(--colorTextDark);
    font-size: 16px;
}

.disclaimerContent p {
    text-align: left;
    padding: 5px;
}