.container  {
    position: relative;
    height: 100%;
}

.asideContainer {
    margin: 20px 5px 0 5px;
    display: flex;
    justify-content: space-between;
}

.nav > a {
    text-decoration: none;
    color: var(--colorTextDark);
}

.aside {
    display: block;
    position: absolute;
    top: 0;
    right: -23%;

    width: 250px;
    height: 100%;
}

@media screen and (max-width: 1660px) {

    .aside {
        display: none;
    }

}

@media screen and (max-width: 790px) {

    .asideContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 5px 20px 5px;
    }

}