.container  {
    position: relative;
}

.nav {
    margin: 10px 5px;

}

.nav > a {
    text-decoration: none;
    color: var(--colorTextDark);
}

.aside {
    display: block;
    position: absolute;
    right: -38%;
}

@media screen and (max-width: 1919px) {

    .aside {
        display: none;
    }

}