.container  {
    position: relative;
}

.nav {
    margin: 10px 5px;

}

.nav > a {
    text-decoration: none;
    color: var(--colorTextDark);
}

.aside {
    display: block;
    position: absolute;
    top: 4%;
    left: -25%;

    width: 250px;
}

@media screen and (max-width: 1695px) {

    .aside {
        display: none;
    }

}