.containerMain {
    display: flex;
    justify-content: space-between;
}

.containerEvents,
.containerSchedule {
    margin: 5px;

}

.scheduleContainerGeneralButton,
.containerTitleTimer,
.containerActivity,
.containerActivityButton {
    width: 100%;

    backdrop-filter: blur(10px);
    background: var(--bg-brown-light);


    -webkit-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.4);
    -moz-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.4);
    box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.4);
}

.containerTitleTimer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;

}

.containerResetActivity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.containerAwards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img {
    width: 413px;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scheduleContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.scheduleContainerGeneralButton {
    margin: 5px;
    width: 413px;
    display: flex;
    flex-direction: column;

}

.containerActivity,
.containerActivityButton {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 413px;
}

.containerActivityButton,
.scheduleContainerGeneralButton {
    text-decoration: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.weeklyImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weeklyImg{
    width: 100px;
}

.weeklyImgProtocore {
    width: 150px;
}


.h2 {
    margin: 10px;
    font-size: 25px;
}

@media screen and (max-width: 860px) {

    .containerMain {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .weeklyImg{
        width: 70px;
    }

    .weeklyImgProtocore {
        width: 100px;
    }

    .monthImg,
    .img,
    .imgAwards {
        width: 275px;
    }

    .scheduleContainerGeneralButton,
    .container,
    .containerTitleTimer,
    .containerActivity,
    .containerActivityButton {
        font-size: 12px;
        width: 275px;
    }

    .h2 {
        margin: 5px;
        font-size: 18px;
    }

    .containerResetActivity h3,
    .containerTitleTimer h3 {
        font-size: 12px;
    }

}
