.containerMain {
    display: flex;
    justify-content: space-between;
}

.containerBanner {
    margin: 5px;
}

.scheduleContainerGeneral,
.containerDaily,
.containerTitleTimer {
    flex-wrap: wrap;

    backdrop-filter: blur(10px);
    background: rgba(255, 203, 144, 0.1);


    -webkit-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.4);
    -moz-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.4);
    box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.4);
}

.containerTitleTimer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.containerDaily {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.containerAwards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img {
    width: 413px;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scheduleContainer {
    display: flex;
    justify-content: space-evenly;
}

.scheduleContainerGeneral {
    display: flex;
    flex-direction: column;
    margin: 5px;

}

.h2 {
    margin: 5px;
}

@media screen and (max-width: 860px) {

    .containerMain {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .weeklyImg{
        width: 70px;
    }


    .monthImg,
    .img,
    .imgAwards {
        width: 275px;
    }

    .scheduleContainerGeneral,
    .containerDaily,
    .container,
    .containerTitleTimer {
        font-size: 12px;
        width: 275px;
    }

}
