.memories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortBy {
    display: flex;
}

.filterBy {
    display: flex;
}

.cardsGrid {
    display: flex;
    flex-wrap: wrap;
}