.content {
    font-size: 14px !important;
    color: var(--brown) !important;
    font-family: TikTok Sans, monospace !important;

}

.title {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.content :global(.ant-collapse-header) {
    align-items: center !important;
}

.img {
    width: 350px;
    height: 150px;
    object-fit: cover;
    object-position: 10% 20%;
}

.text {
    background-color: var(--bg-brown-light);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    color: black;
    padding: 5px;

}

@media (max-width: 450px) {
    .img {
        display: flex;
        justify-self: center;
        margin-bottom: 10px;
    }
}