.content {
    font-size: 14px !important;
    color: var(--brown) !important;


}

.title {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.content :global(.ant-collapse-header) {
    align-items: center !important;
}