.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.link {
    display: flex;
    flex-direction: column;
    width: 160px;

    position: relative;
}

.title {
    position: absolute;
    left: 20px;
    bottom: 40px;
    width: 60%;

    text-decoration: none;
    color: var(--colorText);
}

.navigationTop {
    margin: 10px 5px;
}

.navigationTop > a {
    text-decoration: none;
    color: var(--colorTextDark);
}
