.title {
    font-size: 16px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.collapse :global(.ant-collapse-header) {
    color: var(--colorTextDark) !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.collapse :global(.ant-collapse-header) {
    align-items: center !important;
}