.bannersGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
}

.bannerCard {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 0.2s ease;
    width: 275px;
    margin: 10px 0;
}

.bannerCard:hover {
    transform: translateY(-5px);
}

.bannerCard > * {
    color: var(--colorTextDark)
}

.bannerImage {
    width: 275px;
    height: 93px;
    display: block;

    object-fit: cover;
    object-position: center 20%;


    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.bannerTitle {
    color: var(--a);
    font-size: 18px;
    text-align: center;
    word-break: break-word;

    margin-top: 10px;
}

.noBanners {
    text-align: center;
    padding: 40px;
    color: #999;
}