.card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cardName {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}

.img {
    width: 150px;
    height: 200px;
    object-fit: contain;
}

.imgInfo {
    width: 150px;
    height: 200px;
}

.stella,
.placement,
.talent,
.stars {
    position: absolute;
}

.stars {

}