.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.cardLink {
    text-decoration: none;
}

:global(.ant-modal .ant-modal-container) {
    background-color: var(--bg-modal) !important;
    padding: 20px !important;
    border-radius: 16px !important;
}