.container {
    margin-top: 10px;
    padding: 5px;
    background-color: var(--bg-glass);
    box-shadow: var(--box-shadow);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: var(--colorTextDark);
    margin-left: 5px;
}

.addButton {
    padding: 4px 12px;
    background-color: var(--forSelect);
    box-shadow: var(--box-shadow);
    color: var(--colorText);
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.addButton:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.dropdown {
    position: absolute;
    display: flex;
    right: 5px;
    top: 40px;
    background-color: var(--bg-glass);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    z-index: 50;
}

.dropdownItem {
    color: var(--colorTextDark);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 13px;
}

.emptyState {
    color: #999;
    font-size: 13px;
    margin: 5px;
}

.protocoreList {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.limitInfo,
.placementInfo {
    margin: 5px;
}