.card {
    display: flex;
    flex-direction: column;
}

.cardName {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    word-break: break-word;
    max-width: 170px;
    margin-top: 5px;
}

.img {
    width: 170px;
    height: 300px;
    object-fit: cover;
    object-position: center 20%;

    -webkit-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
    -moz-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
    box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);

}

.imgInfo {
    width: 170px;
    height: 300px;
    position: relative;
}

.parametrsBG {
    position: absolute;
    width: 100%;
    height: 11%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.stella,
.placement,
.talent,
.starsGroup  {
    position: absolute;
}

.starsGroup {
    display: flex;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

.placement {
    bottom: 5px;
    left: 28px;
    z-index: 1;
}

.talent {
    bottom: 5px;
    left: 51px;
    z-index: 2;
}

.stella {
    bottom: 5px;
    left: 5px;
    z-index: 3;
}