.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.cardName {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    font-family: Trebuchet MS, sans-serif;
    color: black;
    word-break: break-word;
    max-width: 170px;
}

.img {
    width: 170px;
    height: 300px;
    object-fit: cover;
    object-position: center 20%;

}

.imgInfo {
    width: 170px;
    height: 300px;
    position: relative;
}

.parametrsBG {
    position: absolute;
    width: 100%;
    height: 11%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.stella,
.placement,
.talent,
.starsGroup  {
    position: absolute;
}

.starsGroup {
    display: flex;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

.placement {
    bottom: 5px;
    left: 5px;
    z-index: 1;
}

.talent {
    bottom: 5px;
    left: 28px;
    z-index: 2;
}

.stella {
    bottom: 5px;
    left: 51px;
    z-index: 3;
}