.container {
    margin: 20px 5px 5px 5px;
}

.title {
    margin-bottom: 10px;
}

.titleAndDisclaimer {
    display: flex;
    justify-content: flex-end;
}

.statsTable,
.statsTablePairBonus {
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
}

.titleTD {
    white-space: nowrap;
}

.additionalBonus {
    margin: 10px 0;
}

.bonusRow {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 3px;
}

.checkboxLabel,
.rangeLabel {
    margin: 5px 0;
}

.checkbox {
    accent-color: var(--forSelect);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.rangeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}


.statsTable {
    white-space: pre-wrap;
}

.statsTablePairBonus th,
.statsTablePairBonus td,
.statsTable th,
.statsTable td {
    border: 1px solid var(--border-table);
    padding: 8px 12px;
    text-align: center;
}

.statsTablePairBonus th,
.statsTable th {
    background-color: var(--forSelect);
    color: var(--colorText);
}

.statsTablePairBonus,
.statsTable td {
    background-color: var(--bg-glass);
}

.titleSkill {
    background: none !important;
    color: var(--colorTextDark) !important;
}


.track {
    height: 6px;
    width: 300px;
    background: var(--colorTextBright);
    cursor: pointer;

    margin: 5px;
}

.point {
    height: 20px;
    width: 20px;
    background: var(--forSelect);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px 0 rgba(34, 60, 80, 0.6);
    cursor: pointer;
}

.trackFilled {
    position: absolute;
    height: 100%;
    background: var(--forSelect);
    left: 0;
    top: 0;
    pointer-events: none;
}

.disclaimerContent {
    text-align: center;
    color: var(--colorTextDark);
    font-size: 16px;
}


@media screen and (max-width: 860px) {

.container {
    font-size: 12px;
}

}

@media screen and (max-width: 500px) {

    .titleTD,
    .statsTable td,
    .statsTable th {
        white-space: wrap;
    }

    .statsTable th,
    .statsTable td {
        padding: 5px 2px;
    }
}