.container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background: var(--bg-glass);
    box-shadow: var(--box-shadow);
    color: var(--colorTextDark);
    font-family: TikTok Sans, monospace;
}

.noGoals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    font-size: 12px;
    text-align: center;

    color: var(--colorTextDark);
}

.linkContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: var(--a);
    transition: color 0.3s;
    font-size: 14px;
}

.link:hover {
    color: var(--a-hover);
}

.noGoals p:first-child {
    font-size: 20px;
    margin-bottom: 8px;
    color: var(--a);
}



.goalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

.goalTitle {
    font-size: 14px;
    font-weight: 600;
    color: var(--colorTextDark);
}

.goalActions {
    display: flex;
    gap: 5px;
}

.completeButton,
.deleteButton {
    white-space: nowrap;
    padding: 4px;
    color: var(--colorText);
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
}

.completeButton {
    background: var(--green-button);
}

.completeButton:hover {
    background: var(--light-green-button);
}

.deleteButton {
    background: var(--red-button);
}

.deleteButton:hover {
    background: var(--light-red-button);
}

.goalContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.resourcesSection h4, .remainingSection h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--colorTextDark);
}

.resourcesList, .remainingList {
    font-size: 12px;
    color: var(--colorTextDark);
    line-height: 1.8;
}

.completed {
    color: #419716;
}

.notCompleted {
    color: var(--redForText);
}

.completedBadge {
    margin-top: 12px;
    padding: 10px;
    background: #e6f7e6;
    border-radius: 8px;
    color: #52c41a;
    font-size: 13px;
    text-align: center;
}

.farmingSection {
    background: var(--bg-modal);
    padding: 10px;
    width: 100%;
}

.farmingRow {
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--colorTextSuperDark);
    font-size: 12px;
}
.farmingSection h4 {
    margin-bottom: 5px;
    color: var(--colorTextSuperDark);
}

.farmingList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width: 1020px) {

    .container {
        width: 100%;
        padding: 10px;
        margin: 5px;
    }

}