/****************************HEADER********************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1115px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.headerHidden {
    transform: translateY(-100%);
}

header,
.nav,
.link {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link,
.burgerContainer {
    padding-left: 15px;
}

header {
    background-color: var(--brown);

    -webkit-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
    -moz-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
    box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
}

.header-hidden {
    transform: translateX(-50%) translateY(-100%);
}

.logo,
.a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

/*************************burger menu button****************/

.burgerContainer {
    display: flex;
    margin-right: 15px;
}

.burger {
    --burger-width: 30px;
    --burger-height: 22px;
    --burger-thickness: 3px;

    position: relative;
    width: var(--burger-width);
    height: var(--burger-height);
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger span {
    display: block;
    position: absolute;
    height: var(--burger-thickness);
    width: 100%;
    background: white;
    border-radius: calc(var(--burger-thickness) / 2);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger input {
    display: none;
}

.burger span:nth-of-type(1) {
    top: 0;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
    bottom: 0;
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: calc(var(--burger-height) / 2 - var(--burger-thickness) / 2);
    left: calc(var(--burger-thickness) * 1.5);
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: calc(var(--burger-height) / 2 - var(--burger-thickness) / 2);
    left: calc(var(--burger-thickness) * 1.5);
}

/*************************modal window for burger menu****************/

.nav  {
    position: relative;
}

.modalNav {
    position: absolute;
    top: 80px;
    background-color: var(--brown);
    width: 100%;

    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 10px 0;
}

.border {
    border: 1px solid white;
    width: 100%;
    margin: 0;
}

.modalNav.active {
    display: flex;
    padding: 5px 15px;
    animation: slideDown 0.3s ease-in-out;
    z-index: 10;
}

.modal_nav.closing {
    animation: slideUp 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

/*MOBILE*/

@media screen and (min-width: 600px) {
    .burgerContainer {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .link {
        display: none;
    }

}

