/****************************HEADER********************************/

.header,
.nav,
.link {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    margin-left: 15px;
}

.header,
.nav {
    width: 100%;
}

.nav,
.link {
    display: flex;
    justify-content: space-between;
}

.link {
    margin-right: 15px;
}

.header {
    background-color: var(--brown);

    -webkit-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
    -moz-box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
    box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
}

.a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}