.obtainContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.label {
    font-weight: 600;
    color: var(--a);
    min-width: 55px;
}

.values {
    line-height: 1.4;
}

.value {
    text-decoration: none;
    border: none;
    font: inherit;
    cursor: pointer;
    background: none;
    color: var(--colorTextDark);
    transition: 0.3s ease;
}

.value:hover {
    color: var(--a)
}
