.container {
    margin-top: 16px;
    padding: 16px;
    background: var(--bg-glass);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    font-family: TikTok Sans, monospace;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--colorTextDark);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;

}

.companionLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 14px;
    color: var(--colorTextDark);
    padding-top: 12px;
    border-top: 1px solid var(--border-color);
}

.companionLinkText {
    font-size: 16px;
    color: var(--a);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.companionLinkText:hover {
    color: var(--a-hover);
}