.protocoreBlock {
    background: var(--bg-glass);
    box-shadow: var(--box-shadow);
    border: 2px solid;
    padding: 10px;
    color: var(--colorText);
    transition: all 0.3s ease;
    width: 250px;
    position: relative;
    font-family: TikTok Sans, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.typeIcon {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.typeImage {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.typeInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.typeName {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--colorTextDark);
}

.level {
    font-size: 0.85rem;
    color: gray;
}

.mainStat {
    text-shadow: var(--text-shadow);
    background-color: color-mix(in srgb, black 50%, transparent);
    font-size: 14px;
    padding: 5px 5px;
}

.subStat {
    padding: 5px 5px;
    font-size: 14px;
}

.mainStat,
.subStat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: wrap;
}

.statLabelMain {
    font-weight: 700;
}

.statLabelMain,
.statValueMain {
    color: var(--colorText);
}

.statLabel {
    color: var(--colorTextDark);
    font-weight: 700;
}

.statValue {
    color: var(--colorTextDark);
}

.actions {
    border-top: 1px solid var(--border-battle-page);
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.editButton,
.deleteButton {
    margin-top: 10px;
    color: white;
    border: none;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: inherit;
}

.editButton {
    background: var(--green-button);
}

.editButton:hover {
    background: var(--light-green-button);
}

.deleteButton {
    background: var(--red-button);
}

.deleteButton:hover {
    background: var(--light-red-button);
}


/* Цвета для stellactrum */
.stellactrumEmerald {
    border-color: #50c878;
}

.stellactrumEmerald:hover {
    box-shadow: 0 0 15px 8px rgba(80, 200, 120, 0.3);
}

.stellactrumAmber {
    border-color: #ffbf00;
}

.stellactrumAmber:hover {
    box-shadow: 0 0 15px 8px rgba(255, 191, 0, 0.3);
}

.stellactrumViolet {
    border-color: #8b00ff;
}

.stellactrumViolet:hover {
    box-shadow: 0 0 15px 8px rgba(139, 0, 255, 0.3);
}

.stellactrumPearl {
    border-color: #e379ff;
}

.stellactrumPearl:hover {
    box-shadow: 0 0 15px 8px rgb(118, 47, 140, 0.3);
}

.stellactrumSapphire {
    border-color: #5193fd;
}

.stellactrumSapphire:hover {
    box-shadow: 0 0 15px 8px rgba(15, 82, 186, 0.3);
}

.stellactrumRuby {
    border-color: #8e1111;
}

.stellactrumRuby:hover {
    box-shadow: 0 0 15px 8px rgba(224, 17, 95, 0.3);
}

@media (max-width: 550px) {

    .protocoreBlock {
        width: 180px;
    }

    .typeName {
        font-size: 14px;
    }

    .mainStat,
    .subStat,
    .editButton,
    .deleteButton {
        font-size: 12px;
    }

}