.skillsSection {
    margin: 2px;
}

.sectionTitle {
    background: var(--forSelect);
    color: var(--colorText);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.skillImg {
    width: 8%;
    height: 8%;
    padding: 5px;
}

.skillTitle {
    height: 100%;
    width: 200px;
    padding: 10px 5px;
}

.skillTitle {
    font-size: 18px;
    text-transform: uppercase;
}

.skillName {
    color: var(--colorTextSpecial);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.borderVertical {
    border-right: 2px solid var(--colorText);
    height: 80px;
    margin: 0;
}

.skillNameContainer {
    width: 100%;
}

.borderHorizontalWhite {
    border: 1px solid var(--colorText);
    width: 100%;
    margin: 5px 0;
}

.skillsText {
    margin-bottom: 10px;
    padding: 5px;

    backdrop-filter: blur(10px);
    background: var(--bg-glass);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);

    white-space: pre-wrap;
}

@media screen and (max-width: 630px) {

    .skillImg {
        width: 15%;
        height: 15%;
        padding: 2px;
    }

    .skillTitle {
        width: 120px;
    }

    .costText {
        font-size: 12px;
        white-space: pre-wrap;
    }

    .skillTitle {
        font-size: 16px;
    }

}