.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 20px;
}

.link {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  height: 120px;

  background-color: var(--bg-glass);

  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);

  text-decoration: none;
  align-items: center;
}

.title {
  color: var(--colorTextDark);
  font-size: 25px;
  font-weight: 400;
  padding-left: 10px;
}

.img {
  width: 50%;
  height: 100%;

  object-fit: cover;
  object-position: 10% 20%;

  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.img {
  -webkit-mask-image: var(--linear-gradient-webkit);
  mask-image: var(--linear-gradient);
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}
