.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.freeStory {
  display: flex;
  gap: 30px;
}

.characterImage {
  width: 250px;
  height: 700px;

  object-fit: cover;

  -webkit-mask-image:
    linear-gradient(
      90deg,
      transparent 1%,
      black 12%,
      black 86%,
      transparent 95%
    ),
    linear-gradient(
      0deg,
      transparent 3%,
      black 19%,
      black 100%,
      transparent 100%
    );
  -webkit-mask-composite: intersect;
  mask-image:
    linear-gradient(
      90deg,
      transparent 1%,
      black 12%,
      black 86%,
      transparent 95%
    ),
    linear-gradient(
      0deg,
      transparent 3%,
      black 19%,
      black 100%,
      transparent 100%
    );
  mask-composite: intersect;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.commonContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content1 {
  display: flex;
  flex-direction: column;
}

.content2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.characterName {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid var(--border);
  margin-bottom: 10px;
}

.bondTitle {
  font-size: 16px;
}

.bondLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bondImage {
  width: 200px;
}

.link,
.bondLink,
.linkInternal {
  text-decoration: none;
  color: var(--colorTextDark);
  transition: 0.3s;
}

.link:hover,
.bondLink:hover,
.linkInternal:hover {
  color: var(--a);
}

.bondList {
  display: flex;
}

.storyContainer {
  display: flex;
  gap: 40px;
}

li {
  list-style-position: inside;
}

.sectionTitle,
.sectionCardsTitle {
  border-bottom: 1px dashed var(--border);
  width: 100%;
  padding: 5px 0;
}

.sectionTitle:first-child {
  padding-top: 0;
}

.sectionContent {
  padding: 10px 0;
}

.mainStoryGroup {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mainStorytitlesContainer {
  display: flex;
  gap: 5px;
}

.mainStoryTitle {
  margin: 15px 0 5px 0;
  color: var(--a);
}

@media screen and (max-width: 955px) {
  .commonContent {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 700px) {
  .freeStory {
    flex-direction: column;
    gap: 5px;
  }

  .characterImage {
    margin-top: 0;

    width: 100%;
    height: 200px;

    object-fit: cover;
    object-position: 20% 14%;

    -webkit-mask-image: -webkit-linear-gradient(
      180deg,
      transparent 0%,
      black 20%,
      black 40%,
      transparent 100%
    );
    mask-image: linear-gradient(
      180deg,
      transparent 0%,
      black 20%,
      black 60%,
      transparent 100%
    );
  }
}

@media screen and (max-width: 500px) {
  .storyContainer {
    flex-direction: column;
    gap: 5px;
  }

  .container {
    margin: 0;
  }

  .content {
    margin: 0;
    padding: 5px;
  }

  .sectionTitle,
  .sectionCardsTitle {
    padding: 5px;
  }

  .sectionContent {
    padding: 10px 0;
  }

  .bondList {
    flex-direction: column;
  }
}
