.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.container > a {
  text-decoration: none;
}

.cardLink {
  text-decoration: none;
}

:global(.ant-modal .ant-modal-container) {
  background-color: var(--bg-modal) !important;
  padding: 15px !important;
  border-radius: 16px !important;
}

@media screen and (max-width: 413px) {

  :global(.ant-modal .ant-modal-container) {
    background-color: var(--bg-modal) !important;
    padding: 5px !important;
    border-radius: 16px !important;
  }
}