* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*************************BODY*******************************/

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    width: 100%;

    font-family: TikTok Sans, monospace !important;
    font-size: 14px;

    background-color: var(--bg-primary);
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-size: cover;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding-top: 80px;
}

:root, html.light {
    --colorText: white;
    --colorTextDark: #35312d;
    --colorTextSpecial: #e68038;
    --colorTextSuperDark: #35312d;
    --colorTextBright: #e68038;
    --forSelect: #35312d;
    --border: #e68038;
    --border-battle-page: #35312d;
    --a: #e68038;
    --a-hover: #9a5929;
    --background: #35312d;
    --bg-glass: color-mix(in srgb, var(--bg-brown) 10%, transparent);
    --bg-modal: #ecdace;

    --bg-primary: #ecdace;
    --bg-image: url('../src/assets/bg/x3_collection_bg_01.png');
    --box-shadow: 10px 10px 6px -5px rgba(148, 148, 148, 0.6);
    --linear-gradient-webkit: -webkit-linear-gradient(270deg, black 0%, black 50%, transparent 100%);
    --linear-gradient: linear-gradient(270deg, black 0%, black 50%, transparent 100%);


/****************************************************************************/

    --dark: #202227;
    --light-dark: #313338;
    --brown: #35312d;
    --bg-brown: #ffcb90;
    --orange: #e68038;
    --red: #ff4444;
    --bg-brown-light: color-mix(in srgb, var(--bg-brown) 10%, transparent);

/****************************************************************************/

    color: var(--colorTextDark);
}

html.dark {
    --colorText: #D8DADF;
    --colorTextDark: #D8DADF;
    --colorTextSpecial: #202227;
    --colorTextSuperDark: #202227;
    --colorTextBright: white;
    --forSelect: #9C2007;
    --border: #9C2007;
    --border-battle-page: #8e9093;
    --a: #9C2007;
    --a-hover: #ff4444;
    --background: #202227;
    --bg-glass:color-mix(in srgb, var(--dark) 80%, transparent);
    --bg-modal: #8e9093;

    --bg-primary: black;
    --bg-image: url('../src/assets/bg/Frame 37.png');
    --box-shadow: 10px 10px 6px -5px rgb(21 21 21 / 0.6);
    --linear-gradient-webkit: -webkit-linear-gradient(270deg, black -10%, black 20%, transparent 100%);
    --linear-gradient: linear-gradient(270deg, black -10%, black 20%, transparent 100%);


    color: var(--colorText);
}

a, button {
    cursor: pointer;
}

h4 {
    font-weight: 600;
}

/************************ANT Design перенастройка цвета******************************/

.css-var-root.ant-input-css-var {
    --ant-input-hover-border-color: #35312d;
    --ant-input-active-border-color: #35312d;
    --ant-btn-color-base: #35312d;
}
.ant-btn.ant-btn-color-primary {
    --ant-btn-color-base: #35312d !important;
    --ant-btn-color-hover: rgba(43, 22, 17, 0.44) !important;
    --ant-btn-color-active: #35312d !important;
}

:where(.css-dev-only-do-not-override-xogyor).ant-checkbox-checked {
    background-color: #35312d !important;
}

