* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*************************BODY*******************************/

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    width: 100%;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
}

:root {
    --brown: #5B4A58;
    --general-font: 'TTLimesSlab', sans-serif;
    --title-font: 'Bahij', serif;
}

a, button {
    cursor: pointer;
}

/****************************Шрифты*********************************/

@font-face {
    font-family: 'TTLimesSlab';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('public/fonts/TTLimesSlab-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Bahij';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('public/fonts/Bahij Uthman Taha Regular.ttf') format('truetype');
}

