* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*************************BODY*******************************/

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    width: 100%;

    font-family: TikTok Sans, monospace;
    font-size: 14px;
    color: var(--brown);

    background-image: url(src/assets/bg/x3_collection_bg_01.png);
    background-attachment: fixed;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
}

:root {
    --brown: #35312d;
    --general-font: 'TTLimesSlab', sans-serif;
    --title-font: 'Bahij', serif;
}

a, button {
    cursor: pointer;
}

/****************************Шрифты*********************************/
